@use "base" as *;

.awards {

    &__controls {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__tabs {
        display: flex;

        &-tab {
            background-color: transparent;
            padding: 15px 12px;
            border-radius: 6px;
            font-weight: 400;
            font-size: 12px;
            line-height: 12px;
            letter-spacing: 0.5px;
            text-transform: uppercase;
            color: rgba(13, 24, 35, 0.6);
            transition: all .2s ease;
            margin-right: 8px;
            cursor: pointer;
            white-space: nowrap;

            &:last-child {
                margin-right: 0;
            }

            &.active {
                background-color: $dark;
                color: #EFEFEF;
            }

            @media (max-width: 1159px) {
                font-size: 10px;
            }

            @media (max-width: 1023px) {
                font-size: 12px;
                line-height: 12px;
            }
        }
    }

    &__slider {
        margin-top: 24px;

        .slick-track {
            display: flex;
        }

        .slick-slide {
            flex-shrink: 0;
        }

        &-slide {
            background: #F3F3F3;
            backdrop-filter: blur(16px);
            border-radius: 8px;
            width: 100%;
            max-width: 324px;
            box-sizing: border-box;
            padding: 24px;
            height: 312px;
            flex-shrink: 0;
            margin-right: 16px;
            user-select: none;

            &-main {
                max-width: 550px;

                @media (max-width: 1023px) {
                    height: 448px;
                    max-width: 336px;
                }
            }

            &-main &-wrapper {
                display: flex;

                @media (max-width: 1023px) {
                    flex-direction: column;
                }
            }

            &-main &-info {
                margin-left: 24px;

                @media (max-width: 1023px) {
                    margin-left: 0;
                    margin-top: 24px;
                }
            }

            &-main &-sign {
                font-family: 'Roboto', sans-serif;
                font-weight: 500;
                font-size: 16px;
                line-height: 22px;
            }

            &-wrapper {
                height: 100%;
            }

            &-image {
                width: 108px;
                height: 108px;
                border-radius: 8px;
                background-color: $white;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-shrink: 0;

                img {
                    width: 80%;
                    height: 80%;
                    object-fit: contain;
                }
            }

            &-info {
                height: 100%;
                display: flex;
                flex-direction: column;
            }

            &-title {
                font-weight: 500;
                font-size: 20px;
                line-height: 24px;
                letter-spacing: -0.5px;
                margin-bottom: 12px;
            }

            &-text {
                font-size: 14px;
                line-height: 18px;
                opacity: 0.7;
            }

            &-sign {
                font-family: 'Roboto Mono', sans-serif;
                font-weight: 400;
                font-size: 16px;
                line-height: 16px;
                letter-spacing: -1px;
                margin-top: auto;
            }

        }
    }
}

