$red: #D61336;
$red-dark: #AB052E;
$light-gray: #F3F3F3;
$dark: #0D1823;
$dark-light: #202B39;
$white: #FFFFFF;

@mixin btn {
    border: none;
    outline: none;
    appearance: none;
    cursor: pointer;
    user-select: none;
    white-space: nowrap;
}

html {
    scroll-behavior: smooth;
}

.page-wrapper {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: $dark;

    .container {
        max-width: 1440px;
        box-sizing: border-box;
        margin: 0 auto;
        padding: 0 48px;

        @media (max-width: 1023px) {
            padding: 0 16px;
        }
    }
}

h1.hero__title {
    font-weight: 400;
    font-size: 64px;
    line-height: 64px;
    letter-spacing: -1.5px;
    color: white;
    max-width: 668px;

    @media (max-width: 1023px) {
        font-size: 40px;
        line-height: 40px;
    }
}

h2 {
    font-weight: 500;
    font-size: 40px;
    line-height: 46px;
    letter-spacing: -1px;
    max-width: 569px;

    @media (max-width: 1023px) {
        font-size: 32px;
        line-height: 38px;
        max-width: 320px;
    }
}

a {
    text-decoration: none;
    appearance: none;
    white-space: nowrap;
}

.btn {
    @include btn;
}

.hidden {
    display: none;
}

.hide {
    visibility: hidden;
}

img {
    user-select: none;
    pointer-events: none;
}

.quality-card {
    position: relative;
    padding: 28px;
    box-sizing: border-box;
    border-radius: 8px;
    background-color: $light-gray;
    backdrop-filter: blur(16px);
    height: 512px;
    margin-right: 16px;
    width: 100%;
    max-width: 437px;

    @media (max-width: 1159px) {
        height: 460px;
    }

    &:last-child {
        margin-right: 0;
    }

    &__wrapper {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        height: 100%;
    }

    &__name {
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        letter-spacing: -0.5px;
    }

    &__text {
        font-size: 14px;
        line-height: 18px;
        opacity: 0.7;
        margin-top: 12px;
    }

    &__bottom {
        font-family: 'Roboto Mono', sans-serif;
        font-weight: 500;
        font-size: 11px;
        line-height: 11px;
        letter-spacing: 0.5px;
        text-transform: uppercase;
        opacity: 0.6;
        margin-top: auto;
        user-select: none;
    }

    &__shapes {
        position: absolute;
        bottom: 50%;
        left: 50%;
        transform: translate(-50%, 50%);
        padding: 0 28px;

        width: 100%;
        aspect-ratio: 16 / 1; /* или 16 / 9, если хочется прямоугольник */
        display: flex;
        align-items: center;
        justify-content: center;

        svg {
            background: transparent;
            width: 100%;
            max-width: 90%;

            .active-svg, .dover-svg {
                padding-bottom: 30px;
            }
        }
    }

    &-third &__shapes {
        transform: translate(-50%, 70%);

        @media (max-width: 1159px) {
            transform: translate(-50%, 90%);
        }
    }

    &-wide {
        max-width: 50%;
    }

    &__more-btn {
        @include btn;
        width: 28px;
        height: 28px;
        background: $dark;
        border-radius: 6px;
        position: absolute;
        bottom: 28px;
        right: 28px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all .7s ease;

        &-plus {
            padding-bottom: 1px;
        }

        &-minus {
            display: none;
        }
    }

    &__hidden-text {
        visibility: hidden;
        font-size: 14px;
        opacity: 0.7;
        position: absolute;
        bottom: -100%; //96px
        left: 28px;
        right: 28px;
        transition: bottom .7s ease;

        &.text-open {
            bottom: 96px;
        }
    }

    &-clickable {
        cursor: pointer;
        user-select: none;
    }

    &-clickable.active &__shapes {
        display: none;
    }

    &-clickable.active &__hidden-text {
        visibility: visible;
        bottom: 96px;
    }

    &-clickable.active &__more-btn {
        background: $red;

        &-plus {
            display: none;
        }

        &-minus {
            display: block;
        }

    }
}

.running-title {
    font-size: 12px;
    line-height: 12px;
    color: $dark;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    user-select: none;
    padding: 56px 0 86px 0;
    width: 100%;

    @media (max-width: 1023px) {
        padding: 36px 0; 
    }

    &__info {
        display: flex;
        align-items: baseline;

        @media (max-width: 1023px) {
            width: 100%;
            justify-content: space-between;
        }
    }

    &__page-num {
        font-family: 'Roboto Mono', sans-serif;
        font-weight: 400;
        letter-spacing: -1px;
        color: $red;
    }

    &__page-name {
        margin-left: 207px; //207px
        white-space: nowrap;

        @media (max-width: 1270px) {
            margin-left: 176px;
        }

        @media (max-width: 1023px) {
            margin-left: 0;
        }
    }

    &__company {
        @media (max-width: 1023px) {
            display: none;
        }
    }

    &.white {
        color: white;
    }

    &.white &__page-num {
        color: white;
    }
}

.running-title-absolute {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.text-info {
    margin-bottom: 100px;

    @media (max-width: 1023px) {
        margin-bottom: 42px;
    }

    &__wrapper {
        margin-left: 16.5%; 

        &-footer {
            margin-left: 222px; 
        }

        @media (max-width: 1023px) {
            margin-left: 0; 
        }
    }

    &__columns {
        margin-top: 36px;
        display: flex;
        align-items: flex-start;

        @media (max-width: 1023px) {
            margin-top: 24px; 
        }

        &-col {
            max-width: 420px;
            margin-right: 32px;

            &:last-child {
                margin-right: 0;
            }

            &-about-third {
                @media (max-width: 1023px) {
                    display: none;
                }
            }

            &-text {
                opacity: 0.7;
                margin-bottom: 16px;

                &:last-child {
                    margin-bottom: 0;
                }
            }

        }

    }

}

.cmwp-video {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    border-radius: 8px;
    overflow: hidden;

    video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-width: 0;
        outline-width: 0;
    }

    &__caption {
        font-family: 'Roboto Mono', sans-serif;
        font-weight: 500;
        font-size: 11px;
        line-height: 14px;
        letter-spacing: 0.5px;
        text-transform: uppercase;
        color: #FCFDFF;
        position: absolute;
        top: 34px;
        left: 34px;
        white-space: nowrap;
        user-select: none;
        z-index: 40;
        max-width: 177px;

        @media (max-width: 1023px) {
            top: 16px;
            left: 16px;
        }
    }

    &__play-btn {
        @include btn;
        width: 94px;
        height: 94px;
        background: rgba(243, 243, 243, 0.2);
        backdrop-filter: blur(20px);
        border-radius: 8px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        transition: all .3s ease-out;
        z-index: 40;

        @media (max-width: 1023px) {
            width: 50px;
            height: 50px;
        }

        svg {
            padding-left: 4px;

            @media (max-width: 1023px) {
                transform: scale(0.6);
            }
        }

        &:hover {
            background: rgba(243, 243, 243, 0.4);
        }

        &.play-hide {
            opacity: 0;
            visibility: hidden;
        }
    }

    &__pause-btn {
        @include btn;
        width: 94px;
        height: 94px;
        background: rgba(243, 243, 243, 0.2);
        backdrop-filter: blur(20px);
        border-radius: 8px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        transition: opacity .3s ease-out;
        opacity: 0;
        z-index: 30;
        pointer-events: none;

        @media (max-width: 1023px) {
            width: 50px;
            height: 50px;
        }

        svg {
            @media (max-width: 1023px) {
                transform: scale(0.6);
            }
        }

        &.show {
            opacity: 1;
        }
    }
}

.cards {

    &__heading {
        font-weight: 500;
        font-size: 24px;
        line-height: 28px;
        letter-spacing: -0.5px;
        max-width: 435px;
        margin-left: 16.5%; 
        margin-bottom: 36px;

        @media (max-width: 1023px) {
            margin-left: 0; 
        }
    }

    &__row {
        display: flex;
        overflow: hidden;
        margin-bottom: 16px;

        &:last-child {
            margin-bottom: 0; 
        }
    }
}

.slider-controls {
    display: flex;
    flex-direction: column;

    &-horizontal {
        flex-direction: row
    }

    &-horizontal &__right {
        margin-top: 0;
        margin-left: 11px
    }

    &__left, &__right {
        @include btn;
        background-color: $dark;
        width: 42px;
        height: 42px;
        border-radius: 6px;
        transition: background-color .3s ease;

        &:hover {
            background-color: $red;
        }
    }

    &__right {
        margin-top: 9px;
        transform: scaleX(-1);
    }
}

.facts {
    background: #F3F3F3;
    backdrop-filter: blur(16px);
    border-radius: 8px;
    box-sizing: border-box;
    margin-top: 200px;

    @media (max-width: 1023px) {
        margin-top: 100px;
    }


    &__wrapper {
        padding: 28px;
        display: flex;

        @media (max-width: 1023px) {
            flex-direction: column;
            padding: 20px 20px 44px;
        }
    }

    &__caption {
        font-family: 'Roboto Mono', sans-serif;
        font-weight: 500;
        font-size: 11px;
        line-height: 14px;
        opacity: 0.6;
        letter-spacing: 0.5px;
        text-transform: uppercase;
        white-space: nowrap;
        user-select: none;
    }

    &__items {
        margin-left: 106px;
        width: 100%;
        max-width: 890px;

        @media (max-width: 1023px) {
            display: none;
        }

        &-mob {
            @media (max-width: 1023px) {
                display: block;
                margin-left: 0;
                margin-top: 40px;
            } 
        }

        &-mob &-item {
            max-width: 150px;
            margin-right: 16px;

            &:last-child {
                margin-right: 0; 
            }
        }

        &-row {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            margin-bottom: 96px;

            &:last-child {
                margin-bottom: 0;
            }
        }

        &-item {
            width: 100%;
            max-width: 211px;

            &-value {
                font-family: 'Roboto Mono', sans-serif;
                font-weight: 300;
                font-size: 46px;
                line-height: 50px;
                letter-spacing: -3px;
                white-space: nowrap;

                sup {
                    font-family: 'Roboto Mono', sans-serif;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 14px;
                    letter-spacing: -1px;
                    padding: 0 0 0 4px;
                    margin-bottom: 20px;

                    @media (max-width: 1023px) {

                    }
                }

                @media (max-width: 1023px) {
                    font-size: 32px;
                    line-height: 32px;
                }
            }

            &-text {
                font-size: 12px;
                line-height: 16px;
                opacity: 0.6;
                margin-top: 12px;

                @media (max-width: 1023px) {
                    margin-top: 10px;
                }
            }
        }

    }
}

.page-nav {
    background: rgba(243, 243, 243, 0.4);
    backdrop-filter: blur(20px);
    border-radius: 8px;
    padding: 20px;
    position: fixed;
    bottom: 24px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 500;
    display: flex;
    align-items: flex-start;
    box-sizing: border-box;
    overflow: hidden;
    transition: max-height .4s ease;

    &.open {
        max-height: 300px;
    }

    @media (max-width: 766px) {
        padding: 20px 16px;
        max-height: 53px;
    }

    &__links {
        display: flex;
        align-items: center;

        @media (max-width: 766px) {
            flex-direction: column;
            align-items: flex-start;
        }
    }

    &__links-link {
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        font-size: 13px;
        line-height: 13px;
        color: $dark;
        margin-right: 20px;
        transition: all .3s ease;

        &:hover {
            color: $red;

            @media (max-width: 766px) {
                color: $dark;
            }
        }

        &:last-child {
            margin-right: 0;

            @media (max-width: 766px) {
                margin-bottom: 0;
            }
        }

        @media (max-width: 766px) {
            margin-right: 0;
            margin-bottom: 18px;
        }
    }

    &__button {
        display: none;
        width: 20px;
        height: 10px;
        margin-left: 34px;
        margin-right: 5px;

        &-line {
            width: 20px;
            height: 2px;
            background-color: $dark;
            margin-left: 5px;

            &:first-child {
                margin-top: 2px;
                margin-bottom: 6px;
            }
        }

        @media (max-width: 766px) {
            display: block;
        }
    }
}




