@use "base" as *;

.parallax-area {

    &__wrapper {
        position: relative;
        z-index: 30;
        min-height: 200vh;
        box-sizing: border-box;

        &-empty {
            position: relative;
            height: 973px;
            z-index: 10;

            @media (max-width: 1023px) {
                height: 727px;
            }

            &-second {
                height: 1354px;

                @media (max-width: 1023px) {
                    height: 822px;
                }
            }

            &-third {
                height: 668px;

                @media (max-width: 1023px) {
                    height: 506px;
                }
            }
        }
    }

    &__body {
        position: relative;
        background-color: $white;
        border-radius: 0 0 8px 8px;
        padding: 0 0 48px 0;
        z-index: 30;
        overflow: hidden;

        &-first {
            padding: 86px 0 48px 0;

            @media (max-width: 1023px) {
                padding: 42px 0 16px 0;
            }
        }

        &-third {
            @media (max-width: 1023px) {
                padding-bottom: 16px;
            }
        }

        
    }

    &__sticky-container {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 20;

        &-sticky {
            position: sticky;
            top: 100px;
            color: $white;
            width: 100%;
            max-width: 660px;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 0 auto;
            padding-top: 200px;
            padding-bottom: 227px;
            background: transparent;

            @media (max-width: 1023px) {
                padding-top: 100px;
                padding-bottom: 93px;
                top: 100px;
            }

            &-title {
                font-weight: 500;
                font-size: 40px;
                line-height: 46px;
                text-align: center;
                letter-spacing: -1px;

                @media (max-width: 1023px) {
                    font-size: 32px;
                    line-height: 38px;
                    max-width: 358px;
                }
            }

            &-text {
                font-weight: 400;
                font-size: 14px;
                line-height: 22px;
                text-align: center;
                max-width: 440px;
                margin-top: 36px;

                @media (max-width: 1023px) {
                    max-width: 358px;
                }

                @media (max-width: 359px) {
                    max-width: 300px;
                }
            }

            &-image {
                width: 292px;
                height: 163px;
                margin-top: 143px;

                img {
                    width: 100%;
                    height: 100%;
                }

                @media (max-width: 1023px) {
                    width: 229px;
                    height: 128px;
                }
            }

            &-second {
                padding: 0;
                top: 0;
                padding-top: 159px;

                @media (max-width: 1023px) {
                    padding-top: 126px;
                }
            }

            &-second &-image {
                margin-top: 200px;
                width: 484px;
                height: 633px;

                img {
                    width: 100%;
                    height: 100%;
                }

                @media (max-width: 1023px) {
                    margin-top: 75px;
                    width: 272px;
                    height: 355px;
                    margin-bottom: 4px;
                }
            }

            &-second &-title {
                font-weight: 500;
                font-size: 64px;
                line-height: 64px;
                text-align: center;
                letter-spacing: -1px;
                max-width: 650px;
                margin-top: 24px;
                margin-bottom: 100px;

                @media (max-width: 1023px) {
                    font-size: 40px;
                    line-height: 40px;
                    margin-bottom: 64px;
                }
            }

            &-second &-text {
                font-weight: 400;
                font-size: 24px;
                line-height: 28px;
                text-align: center;
                letter-spacing: -0.5px;
                margin-top: 24px;
            }

            &-third {
                padding-top: 200px;
                padding-bottom: 174px;

                @media (max-width: 1023px) {
                    padding-top: 100px;
                    padding-bottom: 100px; 
                }
            }

            &-third &-title{
                font-weight: 500;
                font-size: 32px;
                line-height: 36px;
                text-align: center;
                letter-spacing: -1px;
                max-width: 534px;
                margin-top: 36px;

                @media (max-width: 1023px) {
                    font-size: 24px;
                    line-height: 28px;
                    max-width: 357px;
                }
            }

            &-third &-text {
                @media (max-width: 1023px) {
                    margin-top: 24px;
                }
            }

            &-caption {
                font-family: 'Roboto Mono', sans-serif;
                font-weight: 500;
                font-size: 12px;
                line-height: 12px;
                text-align: center;
                letter-spacing: 0.5px;
                text-transform: uppercase;
                opacity: 0.8;
            }
        }
    }


    &__footer {
        position: relative;
        background: radial-gradient(194.79% 96.36% at 50% 100%, #D61336 12.5%, #F65B0B 51.87%, #C30111 75%, #720107 100%);
        padding: 973px 24px 24px 24px;
        z-index: 20;
        margin-top: -979px;

        @media (max-width: 1023px) {
            padding: 727px 5px 20px 5px;
            margin-top: -732px;
        }

        &-overlay {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: rgba(13, 24, 35, 0.4);
        }

        &-second {
            padding: 1360px 24px 24px 24px;
            margin-top: -1360px;

            @media (max-width: 1023px) {
                padding: 822px 5px 20px 5px;
                margin-top: -826px; 
            }
        }

        &-third {
            padding: 674px 24px 24px 24px;
            margin-top: -674px;
            background: url('../images/visualization-bg.jpg');
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center center;

            @media (max-width: 1023px) {
                padding: 506px 5px 11px 5px;
                margin-top: -510px;
            }
        }
    }

    &__footer-area {
        position: relative;
        z-index: 30;
        background-color: $white;
        border-radius: 8px;
        padding: 0 24px 24px 24px;

        &-second {
            padding: 86px 24px 24px 24px;

            @media (max-width: 1023px) {
                padding: 42px 11px 11px 11px !important;
            }
        }

        &-third {
            padding: 24px 24px 24px 24px;
        }

        @media (max-width: 1023px) {
            padding: 0 11px 11px 11px; 
        }
    }

    &__footer-box {
        
    }

    &__footer-box-container {
        max-width: 1344px;
        box-sizing: border-box;
        margin: 0 auto;
        overflow: hidden;
    }

}

